body,
html {
  height: 100%;
}
body {
  margin: 0px;
  background-color: #444;
  font-size: 18px;
  background-image: url('worldmap.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body,
html {
  cursor: url(vaccine.png), url(vaccine.png), auto;
}
a {
  cursor: url(vaccine.png), url(vaccine.png), auto;
}

body,
a:link,
a:visited,
a:active {
  color: lightblue;
}
.title,
.addDancerButton {
  padding: 5px 12px;
  float: right;
}
.topbar {
  height: 32px;
  background-color: #555;
}
.title {
  background-color: #777;
}
/* .dancer {
  border: 1px solid red;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
} */

.dancer {
  width: 100px;
  height: 100px;
  background-color: red;
  background-image: url('corona.png');
  border-radius: 10px;
  /* font-size: 20px; */
  left: 0px;
  top: 0px;
  position: absolute;
  transition-property: width height background-color font-size left top color;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
  transform: rotate(120deg);
}

.virus {
  padding: 10px;
  width: 35px;
  height: 30px;
  background-image: url('corona.png');
  background-repeat: no-repeat;
  background-size: cover;
  left: 0px;
  top: 0px;
  position: absolute;
  transition-property: width height background-color font-size left top color;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
}
